<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./leilao_template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="top">
        Gerir lista de denuncias de utilizadores
    </ui:define>

    <ui:define name="content">
        <h:form>
            <p:poll interval="10" update="@form"/>
            <h:dataTable value="#{adminController.listUserReports}"
                     var="report"
                     border="0"
                     cellpadding="2"
                     cellspacing="0"
                     rowClasses="linhas_impares,linhas_pares"
                     rules="all"
                     style="border:solid 1px"
                     >
                <!-- ID -->
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="ID"/>
                    </f:facet>
                    <h:outputText value="#{report.id}"/>
                </h:column>
                <!-- User Reporter -->
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Denunciado por"/>
                    </f:facet>
                    <h:outputText value="#{report.idUserSentReport.userName}"/>
                </h:column>
                <!-- User Target -->
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Denuncia para:"/>
                    </f:facet>
                    <h:outputText value="#{report.idUserTarget.userName}"/>
                </h:column>
                <!-- Motivo -->
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Motivo:"/>
                    </f:facet>
                    <h:outputText value="#{report.message}"/>
                </h:column>
                <!-- Resposta -->
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Resposta:"/>
                    </f:facet>
                    <h:commandButton value="Aprovar" action="#{adminController.replyReportUser()}" style="margin-right: 5px">
                        <f:param name="reportId" value="#{report.id}" />
                        <f:param name="newReportState" value="accepted" />
                        <f:ajax render="@form" execute="@form"/>
                    </h:commandButton>
                    <h:commandButton value="Rejeitar" action="#{adminController.replyReportUser()}" style="margin-right: 5px">
                        <f:param name="reportId" value="#{report.id}" />
                        <f:param name="newReportState" value="rejected" />
                        <f:ajax render="@form" execute="@form"/>
                    </h:commandButton>
                </h:column>
            </h:dataTable>
            <hr/>
            <h:link outcome="admin_user_menu" value="Voltar"/>
            <br/>
        </h:form>
    </ui:define>

    <ui:define name="bottom">
    </ui:define>

</ui:composition>
