<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./leilao_template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui">

    <f:metadata xmlns:f="http://xmlns.jcp.org/jsf/core">
        <f:viewAction action="#{userController.validateUserAdminAccess}" />
    </f:metadata>
    
    <ui:define name="top">
        Gerir lista de pedidos
    </ui:define>

    <ui:define name="content">
        <h:form>
            <p:poll interval="10" update="@form"/>
            <h:dataTable id="table_orders"
                         value="#{adminController.listActivationUserOrders}"
                         var="order"
                         border="0"
                         cellpadding="2"
                         cellspacing="0"
                         rowClasses="linhas_impares,linhas_pares"
                         rules="all"
                         style="border:solid 1px"
                         >
                <!-- ID -->
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="ID"/>
                    </f:facet>
                    <h:outputText value="#{order.id}"/>
                </h:column>
                <!-- Description -->
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Descrição"/>
                    </f:facet>
                    <h:outputText value="#{order.description}"/>
                </h:column>
                <!-- Username -->
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Username"/>
                    </f:facet>
                    <h:outputText value="#{order.targetUser.userName}"/>
                </h:column>
                <!-- Tipo -->
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Tipo"/>
                    </f:facet>
                    <h:outputText value="#{order.adminOrderType.typeValue}"/>
                </h:column>
                <!-- Resposta -->
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Resposta"/>
                    </f:facet>
                    <h:commandButton value="Aceitar" action="#{adminController.replyUserOrder()}">
                        <f:param name="order_reply_id" value="#{order.id}" />
                        <f:param name="order_reply_type" value="accept" />
                        <f:ajax execute="@form" render="@form" />
                    </h:commandButton>
                    <h:commandButton value="Rejeitar" action="#{adminController.replyUserOrder()}" >
                        <f:param name="order_reply_id" value="#{order.id}" />
                        <f:param name="order_reply_type" value="reject" />
                        <f:ajax execute="@form" render="@form" />
                    </h:commandButton>
                </h:column>
            </h:dataTable>
            <br/>
            <h:link outcome="admin_user_menu" value="Voltar"/>
            <br/>
        </h:form>
    </ui:define>

    <ui:define name="bottom">
    </ui:define>

</ui:composition>
