<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./leilao_template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns="http://www.w3.org/1999/xhtml">

    <ui:define name="top">
        Menu inicial
    </ui:define>

    <ui:define name="content">
        <h:form>
            <h:link value="Gerir pedidos de activação e suspensão" outcome="admin_manage_user_requests"/>
            <br/>
            <h:link value="Gerir Items" outcome="admin_manage_item_list"/>
            <br/>
            <h:link value="Gerir Denuncias de Items" outcome="admin_manage_report_items_list"/>
            <br/>
            <h:link value="Gerir Categorias" outcome="admin_manage_categories_list"/>
            <br/>
            <h:link value="Gerir Utilizadores" outcome="admin_manage_users"/>
            <br/>
            <h:link value="Gerir Denuncias de Utilizadores" outcome="admin_manage_report_users_list"/>
            <br/>
            <h:link value="Gerir Mensagens" outcome="user_messages_menu"/>
            <br/>
            <h:link value="Alterar password" outcome="user_edit_password_form"/>
            <br/>
            <h:link value="Newsletter" outcome="newsletter"/>
            <br/>
            <h:commandButton value="Logout" action="#{userController.logout()}"/>
            <br/>
        </h:form>
    </ui:define>

    <ui:define name="bottom">
    </ui:define>

</ui:composition>
