<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./leilao_template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns="http://www.w3.org/1999/xhtml">

    <f:metadata xmlns:f="http://xmlns.jcp.org/jsf/core">
        <f:viewAction action="#{userController.validateUserAdminAccess}" />
    </f:metadata>
    
    <ui:define name="top">
        Gerir lista de categorias
    </ui:define>

    <ui:define name="content">
        <h:form id="form_categories">
            <h:dataTable value="#{adminController.listCategories}"
                         var="category"
                         border="0"
                         cellpadding="2"
                         cellspacing="0"
                         rowClasses="linhas_impares,linhas_pares"
                         rules="all"
                         style="border:solid 1px"
                         id="table_categories"
                         binding="#{table}"
                         >
                <!-- ID -->
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="ID"/>
                    </f:facet>
                    <h:outputText value="#{category.id}"/>
                </h:column>
                <!-- Nome -->
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Nome"/>
                    </f:facet>
                    <h:inputText id="input_category" value="#{category.name}"/>
                    <h:commandButton value="Guardar" action="#{adminController.refreshCategoryName()}">
                        <f:param name="categoryId" value="#{category.id}"/>
                        <f:param name="tableRow" value="#{table.rowIndex}" />
                        <f:ajax render="@form" execute="@form"/>
                    </h:commandButton>
                </h:column>
            </h:dataTable>
            <p>
                <hr/>
                Adicionar nova categoria: <input name="in_category" id="in_category" style="margin-right: 5px; margin-left: 5px"/> 
                <h:commandButton value="Adicionar" action="#{adminController.addCategory()}">
                    <f:ajax render="@form" execute="@form"/>
                </h:commandButton>
            </p>
            <h:link outcome="admin_user_menu" value="Voltar"/>
            <br/>
        </h:form>
    </ui:define>

    <ui:define name="bottom">
    </ui:define>

</ui:composition>
