<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./leilao_template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui">

    <f:metadata xmlns:f="http://xmlns.jcp.org/jsf/core">
        <f:viewAction action="#{userController.validateUserAdminAccess}" />
    </f:metadata>
    
    <ui:define name="top">
        Gerir utilizadores
    </ui:define>

    <ui:define name="content">
        <h:form id="form_users_table">
            <p:poll interval="10" update="@form"/>
            <h:dataTable 
                    id="table_users"
                     value="#{adminController.listUsers}"
                     var="user"
                     border="0"
                     cellpadding="2"
                     cellspacing="0"
                     rowClasses="linhas_impares,linhas_pares"
                     rules="all"
                     style="border:solid 1px"
                     >
                <!-- ID -->
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="ID"/>
                    </f:facet>
                    <h:outputText value="#{user.id}"/>
                </h:column>
                <!-- username-->
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Username"/>
                    </f:facet>
                    <h:outputText value="#{user.userName}"/>
                </h:column>
                <!-- name-->
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Nome"/>
                    </f:facet>
                    <h:outputText value="#{user.nome}"/>
                </h:column>
                <!-- address-->
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Morada"/>
                    </f:facet>
                    <h:outputText value="#{user.morada}"/>
                </h:column>
                <!-- Saldo -->
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Saldo"/>
                    </f:facet>
                    <h:outputText value="#{user.saldoString}"/>
                </h:column>
                <!-- State -->
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Estado"/>
                    </f:facet>
                    <h:outputText value="#{user.userStateType.typeValue}"/>
                </h:column>
                <!-- Manage State -->
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Actualizar Estado"/>
                    </f:facet>
                    <!-- Activate user Button -->
                    <h:form id="form_activate_user" rendered="#{user.userStateSuspended}">
                        Motivo da suspensão: <h:outputText value="#{user.suspensionReason}"/>
                        <br/>
                        <h:commandButton  action="#{adminController.activateUser()}" value="Activar User">
                            <f:param name="username" value="#{user.userName}" />
                            <f:ajax render="form_users_table" />
                        </h:commandButton>
                    </h:form>
                    
                    <!-- Suspend user Button -->
                    <h:form id="form_suspension_user" rendered="#{user.userStateSuspended eq false}">
                        Motivo da suspensão:
                        <br/>
                        <textarea id="in_suspension_reason" name="in_suspension_reason" title="Motivo" />
                        <br/>
                        <h:commandButton action="#{adminController.suspendUser()}" value="Suspender User">
                            <f:param name="username" value="#{user.userName}" />
                            <f:ajax render="form_users_table" />
                        </h:commandButton>
                    </h:form>
                </h:column>
            </h:dataTable>
            <hr/>
            <h:link outcome="admin_user_menu" value="Voltar"/>
            <br/>
        </h:form>
    </ui:define>

    <ui:define name="bottom">
    </ui:define>

</ui:composition>
