<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./leilao_template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns="http://www.w3.org/1999/xhtml">

    <ui:define name="top">
        Registar pedido de reactivação
    </ui:define>

    <ui:define name="content">
        <h:form >
            Insere os dados do pedido de reactivacao
            #{guestController.cleanData()}
            <br/>
            <br/>
            <h:panelGrid columns="3">
                <h:outputLabel value="Username"
                               for="username" />
                <h:outputLabel value="Password"
                               for="password" />
                <h:outputLabel value="Motivo"
                               for="motivo" />
                <h:inputText id="username"
                             required="true"
                             value="#{guestController.reactivateUsername}"
                             requiredMessage="Escreve o username" />
                <h:inputText id="password"
                             required="true"
                             value="#{guestController.reactivatePassword}"
                             requiredMessage="Escreve a password" />
                <h:inputTextarea id="reason"
                             required="true"
                             value="#{guestController.reactivateReason}"
                             requiredMessage="Escreve o motivo da reactivacao" />
            </h:panelGrid>

            <h:commandButton action="#{guestController.postRequestReactivate()}"
                           value="Registar pedido" >
            </h:commandButton>
        </h:form>
    </ui:define>

    <ui:define name="bottom">
    </ui:define>

</ui:composition>
