<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./leilao_template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="top">
        Ultimos artigos vendidos
    </ui:define>

    <ui:define name="content">
        <h:form>
            <p:poll interval="10" update="@form"/>
            <h:dataTable value="#{guestController.lastSoldItems}"
                     var="item"
                     border="0"
                     cellpadding="2"
                     cellspacing="0"
                     rowClasses="linhas_impares,linhas_pares"
                     rules="all"
                     style="border:solid 1px"
                     >
                <!-- ID -->
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="ID"/>
                    </f:facet>
                    <h:outputText value="#{item.id}"/>
                </h:column>
                <!-- Message -->
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Descricao"/>
                    </f:facet>
                    <h:outputText value="#{item.description}"/>
                </h:column>
                <!-- Initial Price -->
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Preco inicial"/>
                    </f:facet>
                    <h:outputText value="#{item.initialPriceMoney}"/>
                </h:column>
                <!-- Buy Now Price -->
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Preco Compra já"/>
                    </f:facet>
                    <h:outputText value="#{item.buyNowPriceMoney}"/>
                </h:column>
                <!-- Last Price -->
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Valor Compra"/>
                    </f:facet>
                    <h:outputText value="#{item.lastPriceMoney}"/>
                </h:column>
                <!-- Data de venda -->
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Data de venda"/>
                    </f:facet>
                    <h:outputText value="#{item.lastUpdateString}"/>
                </h:column>
                <!-- Vendedor -->
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Vendido por"/>
                    </f:facet>
                    <h:outputText value="#{item.userSeller.userName}"/>
                </h:column>
                <!-- Comprador -->
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Comprado por"/>
                    </f:facet>
                    <h:outputText value="#{item.userBuyer.userName}"/>
                </h:column>
            </h:dataTable>
        </h:form>
    </ui:define>

    <ui:define name="bottom">
    </ui:define>

</ui:composition>
