<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./leilao_template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns="http://www.w3.org/1999/xhtml">

    <ui:define name="top">
        Bem vindo Visitante
    </ui:define>

    <ui:define name="content">
        <h:form>
            <h:link value="Pedir Reactivação de conta" outcome="guest_insert_reactivate_order"/>
            <br/>
            <h:link value="Listar Ultimos Artigos" outcome="guest_list_last_sold_items" /> 
            <br/>
            <h:link value="Visualizar Newsletter" outcome="newsletter"/>
            <br/>
            <h:link value="Voltar" outcome="index"/>
        </h:form>
    </ui:define>

    <ui:define name="bottom">
    </ui:define>

</ui:composition>
