<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./leilao_template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns="http://www.w3.org/1999/xhtml">

    <ui:define name="top">
        Bem vindo aos Leilões
    </ui:define>

    <ui:define name="content">
        <h:form>
            <h:link value="Registar Utilizador" outcome="init_register_new_user"/>
            <br/>
            <h:link value="Iniciar Sessão" outcome="init_login_user"/>
            <br/>
            <h:link value="Entrar como visitante" outcome="guest_menu"/>
            <br/>
            <h:link value="Newsletter" outcome="newsletter" /> 
        </h:form>
    </ui:define>

    <ui:define name="bottom">
    </ui:define>

</ui:composition>
