<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./leilao_template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns="http://www.w3.org/1999/xhtml">

    <ui:define name="top">
        Registar Novo Utilizador
    </ui:define>

    <ui:define name="content">
        
        <h:form rendered="#{userController.loggedIn}">
            <h:panelGrid columns = "2" >
                <h:outputText value="User logado" />
                <h:outputText value="#{userController.currentUser.userName}" />
                <h:commandButton action="#{userController.logout()}"
                               value="Logout" >
                </h:commandButton>
            </h:panelGrid>
        </h:form>
        
        <h:form rendered="#{userController.loggedIn eq false}">
            Insere os dados do utilizador:
            <br/>
            <br/>
            <p>Username: <input id="username" name="in_username" required="true" requiredMessage="Escreve o username" /></p>
            <p>Password: <input id="password" name="in_password" required="true" requiredMessage="Escreve a password" type="password"/></p>
            <p>
                <h:commandButton action="#{userController.registerUser()}"
                           value="Registar utilizador" />
            </p>

        </h:form>
        
    </ui:define>

    <ui:define name="bottom">
    </ui:define>

</ui:composition>
