<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./leilao_template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    
    <f:metadata xmlns:f="http://xmlns.jcp.org/jsf/core">
        <f:viewAction action="#{userController.validateUserRegisteredAccess}" />
    </f:metadata>
    
    <ui:define name="top">
        Detalhes do item #{itemDetailsController.itemDetails.description}
    </ui:define>

    <ui:define name="content">        
        <h:form id="form_item_details">
            <p:growl id="growl_item" showDetail="true" life="3000" />
            <br/>
            Id: #{itemDetailsController.itemDetails.id}
            <br/>
            Descição: #{itemDetailsController.itemDetails.description}
            <br/>
            Preco Inicial: #{itemDetailsController.itemDetails.initialPriceMoney}
            <br/>
            Preco Compra Já: #{itemDetailsController.itemDetails.buyNowPriceMoney} 
            <h:commandLink rendered="#{itemDetailsController.allowedToBuyNow}" action="#{itemDetailsController.buyNowItem()}" value="Comprar agora" style="margin-right: 20px; margin-left: 20px">
                <f:param name="id" value="#{itemDetailsController.itemDetails.id}" />
                <f:ajax render="form_item_details" />
            </h:commandLink>
            <br/>
            Última Licitação: #{itemDetailsController.itemDetails.lastPriceMoney}
            <br/>
            Vendedor: #{itemDetailsController.itemDetails.userSeller.userName}
            <br/>
            Comprador: #{itemDetailsController.itemDetails.userBuyerUsername}
            <br/>
            Data de validade: #{itemDetailsController.itemDetails.endDateString}
            <br/>
            Estado actual: #{itemDetailsController.itemDetails.itemStateType.typeValue}
            <hr style="margin-bottom: 20px"/>
            <h:link onclick="history.go(-1)" value="Voltar" style="margin-right: 20px;"/>
            <h:commandLink rendered="#{itemDetailsController.allowedToBuy}" value="#{itemDetailsController.followButtonTitle}" action="#{itemDetailsController.toggleFollowingItem()}" style="margin-right: 20px">
                <f:param name="id" value="#{itemDetailsController.itemDetails.id}" />
                <f:ajax render="form_item_details" />
            </h:commandLink>
            <br/>
            <h:form id="form_set_bid" rendered="#{itemDetailsController.allowedToBuy}">
                <hr/>
                Licitar: 
                <br/>
                <input id="in_licitacao" name="in_licitacao" value="#{itemDetailsController.itemDetails.minimumBidValue}" type="number"/>€
                <br/>
                <h:commandButton rendered="#{itemDetailsController.allowedToBuy}" actionListener="#{itemDetailsController.putNewItemBid()}" value="Licitar item" style="margin-right: 20px">
                    <f:param name="id" value="#{itemDetailsController.itemDetails.id}" />
                    <f:ajax render="form_item_details" />
                    <f:ajax render="bids_table" />
                </h:commandButton>
            </h:form>
            <hr/>
            <br/>
            <h:outputLabel rendered="#{itemDetailsController.allowedToBuy}" value="Insere o texto:"/>
            <br/>
            <h:form rendered="#{itemDetailsController.allowedToBuy}" id="form_input_text">
                <h:inputTextarea rendered="#{itemDetailsController.allowedToBuy}" id="item_text_area" />
                <br/>
                <h:commandLink rendered="#{itemDetailsController.allowedToBuy}" action="#{itemDetailsController.sendMessageToSeller()}" value="Enviar mensagem ao vendedor" style="margin-right: 20px">
                    <f:param name="id" value="#{itemDetailsController.itemDetails.id}" />
                    <f:ajax render="form_item_details" />
                </h:commandLink>
                <h:commandLink rendered="#{itemDetailsController.allowedToBuy}" action="#{itemDetailsController.reportUserSeller()}" value="Reportar utilizador" style="margin-right: 20px">
                    <f:param name="id" value="#{itemDetailsController.itemDetails.id}" />
                    <f:ajax render="form_item_details" />
                </h:commandLink>
                <h:commandLink rendered="#{itemDetailsController.allowedToBuy}" action="#{itemDetailsController.reportItemSeller()}" value="Reportar item" style="margin-right: 20px">
                    <f:param name="id" value="#{itemDetailsController.itemDetails.id}" />
                    <f:ajax render="form_item_details" />
                </h:commandLink>    
            </h:form>
            
        </h:form>
        <hr style="margin-bottom: 20px"/>
        Ultimas licitações:
        <br/>
        <h:dataTable value="#{itemDetailsController.listItemBids}"
             var="itemBid"
             border="0"
             cellpadding="2"
             cellspacing="0"
             rowClasses="linhas_impares,linhas_pares"
             rules="all"
             style="border:solid 1px"
             id="bids_table"
             >
            <!-- ID -->
            <h:column>
                <f:facet name="header">
                    <h:outputText value="ID"/>
                </f:facet>
                <h:outputText value="#{itemBid.id}"/>
            </h:column>
            <!-- Username -->
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Utilizador"/>
                </f:facet>
                <h:outputText value="#{itemBid.userBuyer.userName}"/>
            </h:column>
            <!-- Valor -->
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Valor"/>
                </f:facet>
                <h:outputText value="#{itemBid.valueBidMoney}"/>
            </h:column>
            <!-- Data -->
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Data"/>
                </f:facet>
                <h:outputText value="#{itemBid.bidDateFormatted}"/>
            </h:column>
        </h:dataTable>
        
    </ui:define>

    <ui:define name="bottom">
    </ui:define>

</ui:composition>
