<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
  
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet library="css" name="default.css"/>
        <h:outputStylesheet library="css" name="cssLayout.css"/>
        <h:outputStylesheet library="css" name="cssbasico.css" />
        <title>PD Leilao</title>
    </h:head>

    <h:body>        
        <div id="top">   
            <h:form>
                <p:poll interval="1" update="@form"/>
                <h:outputLabel value="#{userController.welcomeMessage} Hora actual: #{userController.currentTime}" />
            </h:form>
            <ui:insert name="top"></ui:insert>
        </div>

        <div id="content" class="center_content">
            <h:form>
                <p:growl id="growl" showDetail="true" life="3000" />
            </h:form>
            <ui:insert name="content"></ui:insert>
        </div>

        <div id="bottom">
            <ui:insert name="bottom"></ui:insert>
            <!-- Menu Registered -->
            <h:form rendered="#{userController.currentUser.userType.typeValue eq 'registered'}">
                <p:poll interval="10" update="@form"/>
                
                <h:link value="Inicio" outcome="registered_user_menu" style="margin-right: 5px"/>
                |
                <h:link value="Gerir Conta" outcome="user_manage_account_menu" style="margin-right: 5px"/>
                |
                <h:link value="Gerir Items" outcome="user_items_menu" style="margin-right: 5px"/>
                |
                <h:link value="Gerir Mensagens" outcome="user_messages_menu" style="margin-right: 5px"/>
                |
                <h:link value="Pesquisar Items" outcome="user_search_items_list" style="margin-right: 5px"/>
                |
                <h:link value="Visualizar Newsletter" outcome="newsletter" style="margin-right: 5px"/>
                |
                <h:commandButton value="Logout" action="#{userController.logout()}"/>
                <hr/>
                <br/>
                Ultimas notificações:
                <br/>
                <h:dataTable value="#{userController.lastNotifications}"
                     var="notification"
                     border="0"
                     cellpadding="2"
                     cellspacing="0"
                     rowClasses="linhas_impares,linhas_pares"
                     rules="all"
                     style="border:solid 1px"
                     >
                    <!-- ID -->
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="ID"/>
                        </f:facet>
                        <h:outputText value="#{notification.id}"/>
                    </h:column>
                    <!-- Message -->
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Mensagem"/>
                        </f:facet>
                        <h:outputText value="#{notification.message}"/>
                    </h:column>
                    <!-- Date -->
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Data de envio"/>
                        </f:facet>
                        <h:outputText value="#{notification.dateSendFormatted}"/>
                    </h:column>
                </h:dataTable>
                
            </h:form>
            
            <!-- Menu Admin -->
            <h:form rendered="#{userController.currentUser.userType.typeValue eq 'admin'}">
                <h:link value="Inicio" outcome="admin_user_menu" style="margin-right: 5px"/>
                |
                <h:link value="Gerir pedidos de activação e suspensão" outcome="admin_manage_user_requests" style="margin-right: 5px"/>
                |
                <h:link value="Gerir Items" outcome="admin_manage_item_list" style="margin-right: 5px"/>
                |
                <h:link value="Gerir Categorias" outcome="admin_manage_categories_list" style="margin-right: 5px"/>
                |
                <h:link value="Gerir Utilizadores" outcome="admin_manage_users" style="margin-right: 5px"/>
                |
                <h:link value="Gerir Mensagens" outcome="user_messages_menu" style="margin-right: 5px"/>
                |
                <h:link value="Alterar password" outcome="user_edit_password_form" style="margin-right: 5px"/>
                |
                <h:link value="Newsletter" outcome="newsletter" style="margin-right: 5px"/>
                |
                <h:commandButton value="Logout" action="#{userController.logout()}"/>
            </h:form>
            
            <!-- Menu Guest -->
            <h:form rendered="#{userController.currentUser.userType.typeValue eq 'guest'}">
                <h:link value="Inicio" outcome="index" style="margin-right: 5px"/>
                |
                <h:link value="Pedir Reactivação de conta" outcome="guest_insert_reactivate_order" style="margin-right: 5px"/>
                |
                <h:link value="Listar Ultimos Artigos" outcome="guest_list_last_sold_items" style="margin-right: 5px" /> 
                |
                <h:link value="Visualizar Newsletter" outcome="newsletter"/>
            </h:form>
        </div>

    </h:body>

</html>
