<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./leilao_template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="top">
        Newsletter
    </ui:define>

    <ui:define name="content">
        <h:form>
            <p:poll interval="10" update="@form"/>
            <h:link onclick="history.go(-1)" value="Voltar" style="margin-right: 20px;"/>
            <br/>
            <h:dataTable value="#{newsletterController.listNewsletter}"
                     var="item"
                     border="0"
                     cellpadding="2"
                     cellspacing="0"
                     rowClasses="linhas_impares,linhas_pares"
                     rules="all"
                     style="border:solid 1px"
                     >
                <!-- ID -->
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="ID"/>
                    </f:facet>
                    <h:outputText value="#{item.id}"/>
                </h:column>
                <!-- Message -->
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Message"/>
                    </f:facet>
                    <h:outputText value="#{item.message}"/>
                </h:column>
                <!-- Date Created -->
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Date Created"/>
                    </f:facet>
                    <h:outputText value="#{item.timeCreatedString}"/>
                </h:column>
            </h:dataTable>
        </h:form>
    </ui:define>

    <ui:define name="bottom">
    </ui:define>

</ui:composition>
