<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./leilao_template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns="http://www.w3.org/1999/xhtml">

    <f:metadata xmlns:f="http://xmlns.jcp.org/jsf/core">
        <f:viewAction action="#{userController.validateUserRegisteredAccess}" />
    </f:metadata>
    
    <ui:define name="top">
        <p>Menu inicial</p>
    </ui:define>

    <ui:define name="content">
        <h:form>
            <h:link value="Gerir Conta" outcome="user_manage_account_menu"/>
            <br/>
            <h:link value="Gerir Items" outcome="user_items_menu"/>
            <br/>
            <h:link value="Gerir Mensagens" outcome="user_messages_menu"/>
            <br/>
            <h:link value="Pesquisar Items" outcome="user_search_items_list"/>
            <br/>
            <h:link value="Visualizar Newsletter" outcome="newsletter"/>
            <br/>
            <h:commandButton value="Logout" action="#{userController.logout()}"/>
            <br/>
        </h:form>
    </ui:define>

    <ui:define name="bottom">
    </ui:define>

</ui:composition>
