<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./leilao_template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns="http://www.w3.org/1999/xhtml">

    <f:metadata xmlns:f="http://xmlns.jcp.org/jsf/core">
        <f:viewAction action="#{userController.validateUserRegisteredAccess}" />
    </f:metadata>
    
    <ui:define name="top">
        #{userController.userListType.title}
    </ui:define>

    <ui:define name="content">
        <h:dataTable value="#{userController.listItemsByListType}"
                     var="item"
                     border="0"
                     cellpadding="2"
                     cellspacing="0"
                     rowClasses="linhas_impares,linhas_pares"
                     rules="all"
                     style="border:solid 1px"
                     >
            <!-- ID -->
            <h:column>
                <f:facet name="header">
                    <h:outputText value="ID"/>
                </f:facet>
                <h:outputText value="#{item.id}"/>
            </h:column>
            <!-- Descricao -->
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Descricao"/>
                </f:facet>
                <h:outputText value="#{item.description}"/>
            </h:column>
            <!-- Preco Inicial -->
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Preco Inicial"/>
                </f:facet>
                <h:outputText value="#{item.initialPriceMoney}"/>
            </h:column>
            <!-- Preco Compra Ja -->
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Preco Compra Ja"/>
                </f:facet>
                <h:outputText value="#{item.buyNowPriceMoney}"/>
            </h:column>
            <!-- Ultima Oferta -->
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Última oferta"/>
                </f:facet>
                <h:outputText value="#{item.lastPriceMoney}"/>
            </h:column>
            <!-- Vendedor -->
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Vendedor"/>
                </f:facet>
                <h:outputText value="#{item.userSeller.userName}"/>
            </h:column>
            <!-- Vendedor -->
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Comprador"/>
                </f:facet>
                <h:outputText value="#{item.userBuyer.userName}"/>
            </h:column>
            <!-- validade do leilao -->
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Validade"/>
                </f:facet>
                <h:outputText value="#{item.endDateString}"/>
            </h:column>
            <!-- Abrir Item -->
            <h:column>
                <f:facet name="header">
                    <h:outputText value=""/>
                </f:facet>
                <h:outputLink value="item_details.xhtml">
                    <f:param name="id" value="#{item.id}" />
                    <h:outputText value="Abrir" />
                </h:outputLink>
            </h:column>
        </h:dataTable>
        <hr/>
        <h:link outcome="user_items_menu" value="Voltar"/>
        <br/>
    </ui:define>

    <ui:define name="bottom">
    </ui:define>

</ui:composition>
