<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./leilao_template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns="http://www.w3.org/1999/xhtml">

    <f:metadata xmlns:f="http://xmlns.jcp.org/jsf/core">
        <f:viewAction action="#{userController.validateUserRegisteredAccess}" />
    </f:metadata>
    
    <ui:define name="top">
        Alterar Password
    </ui:define>

    <ui:define name="content">
        <h:form>
            <label>Password antiga: </label>
            <input id="in_password_antiga" name="input_password_antiga" type="password"/>
            <br/>
            <label>Password nova: </label>
            <input id="in_password_nova" name="input_password_nova" type="password"/>
            <br/> 
            <p>
                <h:link outcome="user_manage_account_menu" value="Cancelar" style="margin-right: 20px;"/>
                <h:commandButton action="#{userController.changePassword()}"
                           value="Alterar password" />
            </p>
            
        </h:form>
    </ui:define>

    <ui:define name="bottom">
    </ui:define>

</ui:composition>
