<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./leilao_template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns="http://www.w3.org/1999/xhtml">

    <f:metadata xmlns:f="http://xmlns.jcp.org/jsf/core">
        <f:viewAction action="#{userController.validateUserRegisteredAccess}" />
    </f:metadata>
    
    <ui:define name="top">
        Adicionar novo item
    </ui:define>

    <ui:define name="content">
        
        <h:form id="form_add_item">
            <p>Preenche os dados do item que pretendes inserir</p>
            <hr/>
            <p style="margin-bottom: 5px">Descrição: <input id="in_descricao" name="in_descricao" required="true"/></p>
            <p style="margin-bottom: 5px">Preco inicial: <input id="in_preco" name="in_preco" value="0" required="true" type="number"/>€</p>
            <p style="margin-bottom: 5px">Preco Compra ja: <input id="in_preco_compra_ja" name="in_preco_compra_ja" value="0" required="true" type="number"/>€</p>
            <p>
                Selecciona uma categoria:
                <h:selectOneMenu value="Selecciona uma categoria" id="selector_category">
                    <f:selectItems id="sel_category" value="#{itemsController.listCategories}" var="c" itemLabel="#{c.name}" itemValue="#{c.name}" />
                </h:selectOneMenu>
            </p>
            <p style="margin-bottom: 5px">Indica o tempo de validade deste leilão em minutos: <input id="in_data_validade" name="in_data_validade" required="true" type="number" value="1" />(minutos)</p>
            <hr/>
            <p>
                <h:link outcome="user_items_menu" value="Cancelar" style="margin-right: 20px;"/>
                <h:commandButton action="#{userController.addItem()}"
                           value="Adicionar item" />
            </p>
        </h:form>
    </ui:define>

    <ui:define name="bottom">
    </ui:define>

</ui:composition>
