<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./leilao_template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns="http://www.w3.org/1999/xhtml">

    <f:metadata xmlns:f="http://xmlns.jcp.org/jsf/core">
        <f:viewAction action="#{userController.validateUserRegisteredAccess}" />
    </f:metadata>
    
    <ui:define name="top">
        Suspender a conta de #{userController.currentUser.userName}
    </ui:define>

    <ui:define name="content">
        <h:form>
            <label>Insira o motivo do seu pedido de suspensão de conta: </label>
            <br/>
            <textarea id="motivo" name="ta_motivo" required="true"/>
            <br/>
            <br/> 
            <p>
                <h:link outcome="user_manage_account_menu" value="Cancelar" style="margin-right: 20px;"/>
                <h:commandButton action="#{userController.postSuspensionOrder()}"
                           value="Enviar pedido" />
            </p>
            
        </h:form>
    </ui:define>

    <ui:define name="bottom">
    </ui:define>

</ui:composition>
