<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./leilao_template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns="http://www.w3.org/1999/xhtml">

    <f:metadata xmlns:f="http://xmlns.jcp.org/jsf/core">
        <f:viewAction action="#{userController.validateUserRegisteredAccess}" />
    </f:metadata>
    
    <ui:define name="top">
        Gerir conta
    </ui:define>

    <ui:define name="content">
        <h:link value="Editar Perfil" outcome="user_edit_profile_form"/>
        <br/>
        <h:link value="Suspender conta" outcome="user_edit_suspend_account_form"/>
        <br/>
        <h:link value="Efectuar Carregamento" outcome="user_edit_deposit_money_form"/>
        <br/>
        <h:link value="Alterar password" outcome="user_edit_password_form"/>
        <br/>
        <h:link outcome="registered_user_menu" value="Voltar"/>
        <br/>
    </ui:define>

    <ui:define name="bottom">
    </ui:define>

</ui:composition>
