<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./leilao_template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns="http://www.w3.org/1999/xhtml">

    <ui:define name="top">
        Mensagens
    </ui:define>

    <ui:define name="content">
        <h:link value="Enviar nova mensagem" outcome="user_send_new_message"/>
        <br/>
        <h:link value="Consultar mensagens recebidas" outcome="user_messages_received_list"/>
        <br/>
        <h:link value="Consultar mensagens enviadas" outcome="user_messages_sent_list"/>
        <br/>
        <h:link value="Voltar" outcome="#{userController.initialMenu}"/>
        <br/>
    </ui:define>

    <ui:define name="bottom">
    </ui:define>

</ui:composition>
