<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./leilao_template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns="http://www.w3.org/1999/xhtml">

    <f:metadata xmlns:f="http://xmlns.jcp.org/jsf/core">
        <f:viewAction action="#{userController.validateUserRegisteredAccess}" />
    </f:metadata>
    
    <ui:define name="top">
        Editar Perfil
    </ui:define>

    <ui:define name="content">
        <h:form>
            <label>Nome: </label>
            <input id="in_nome" name="input_nome" value="#{userController.currentUser.nome}"/>
            <br/>
            <label>Morada: </label>
            <input id="in_morada" name="input_morada" value="#{userController.currentUser.morada}"/>
            <br/> 
            <p>
                <h:link outcome="user_manage_account_menu" value="Cancelar" style="margin-right: 20px;"/>
                <h:commandButton action="#{userController.updateUser()}"
                           value="Actualizar dados" />
            </p>
            
        </h:form>
    </ui:define>

    <ui:define name="bottom">
    </ui:define>

</ui:composition>
