<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./leilao_template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="top">
        Mensagens enviadas
    </ui:define>

    <ui:define name="content">
        <h:form>
            <p:poll interval="10" update="@form"/>
            <h:dataTable value="#{userController.listMessagesSent}"
                     var="message"
                     border="0"
                     cellpadding="2"
                     cellspacing="0"
                     rowClasses="linhas_impares,linhas_pares"
                     rules="all"
                     style="border:solid 1px"
                     id="table"
                     >
                <!-- ID -->
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="ID"/>
                    </f:facet>
                    <h:outputText value="#{message.id}"/>
                </h:column>
                <!-- Send by -->
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Enviada por"/>
                    </f:facet>
                    <h:outputText value="#{message.userSender.userName}"/>
                </h:column>
                <!-- Received by -->
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Enviada para"/>
                    </f:facet>
                    <h:outputText value="#{message.userReceive.userName}"/>
                </h:column>
                <!-- Message -->
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Mensagem"/>
                    </f:facet>
                    <h:outputText value="#{message.message}"/>
                </h:column>
                <!-- Date -->
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Enviada em"/>
                    </f:facet>
                    <h:outputText value="#{message.timeSentFormatted}"/>
                </h:column>
            </h:dataTable>
        </h:form>
        <hr/>
        <br/>
        <h:link value="Voltar" outcome="user_messages_menu"/>
        <br/>
    </ui:define>

    <ui:define name="bottom">
    </ui:define>

</ui:composition>
