<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./leilao_template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns="http://www.w3.org/1999/xhtml">

    <f:metadata xmlns:f="http://xmlns.jcp.org/jsf/core">
        <f:viewAction action="#{userController.validateUserRegisteredAccess}" />
    </f:metadata>
    
    <ui:define name="top">
        Criar nova mensagem
    </ui:define>

    <ui:define name="content">
        <h:form id="form_send_message">
            Enviar para:
            <h:selectOneMenu id="selector_user" value="Selecciona o utilizador">
                <f:selectItems id="sel_user" value="#{userController.listUsers}" var="user" itemLabel="#{user.userName}" itemValue="#{user.userName}" />
            </h:selectOneMenu>
            <br/>
            <textarea id="message" name="ta_message" required="true"/>
            <hr/>
            <p>
                <h:link outcome="user_messages_menu" value="Cancelar" style="margin-right: 20px;"/>
                <h:commandButton action="#{userController.sendNewMessage()}"
                           value="Enviar mensagem" />
            </p>
        </h:form>
    </ui:define>

    <ui:define name="bottom">
    </ui:define>

</ui:composition>
