<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./leilao_template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns="http://www.w3.org/1999/xhtml">

    <f:metadata xmlns:f="http://xmlns.jcp.org/jsf/core">
        <f:viewAction action="#{userController.validateUserRegisteredAccess}" />
    </f:metadata>
    
    <ui:define name="top">
        Gestão de items
    </ui:define>

    <ui:define name="content">
        <h:link value="Adicionar Item" outcome="user_items_add_item_form"/>
        <br/>
        <h:outputLink value="user_items_lists.xhtml">
            <f:param name="listType" value="items_selling" />
            <h:outputText value="Listar Items à venda" />
        </h:outputLink>
        <br/>
        <h:outputLink value="user_items_lists.xhtml">
            <f:param name="listType" value="items_following" />
            <h:outputText value="Listar Items a seguir" />
        </h:outputLink>
        <br/>
        <h:outputLink value="user_items_lists.xhtml">
            <f:param name="listType" value="items_bought" />
            <h:outputText value="Listar Items Comprados" />
        </h:outputLink>
        <br/>
        <h:outputLink value="user_items_lists.xhtml">
            <f:param name="listType" value="items_sold" />
            <h:outputText value="Listar Items Vendidos" />
        </h:outputLink>
        <br/>
        <h:link outcome="registered_user_menu" value="Voltar"/>
        <br/>
    </ui:define>

    <ui:define name="bottom">
    </ui:define>

</ui:composition>
