<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./leilao_template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns="http://www.w3.org/1999/xhtml">

    <f:metadata xmlns:f="http://xmlns.jcp.org/jsf/core">
        <f:viewAction action="#{userController.validateUserRegisteredAccess}" />
    </f:metadata>
    
    <ui:define name="top">
        Depositar dinheiro na sua conta
    </ui:define>

    <ui:define name="content">
        
        
        <h:form >
            <p>Balanço actual: #{userController.currentUser.saldoString}</p>
            <hr/>
            <p>Dinheiro a ser depositado: <input id="in_money" required="true" name="input_money" value="0" type="number"/>€</p>
            <p>
                <h:link outcome="user_manage_account_menu" value="Cancelar" style="margin-right: 20px;"/>
                <h:commandButton action="#{userController.depositMoney()}"
                           value="Depositar dinheiro" />
            </p>
        </h:form>
    </ui:define>

    <ui:define name="bottom">
    </ui:define>

</ui:composition>
